html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 8, 8);
  
  transform: scale(0.7);
  transform-origin: 50% 50%;
}

canvas {
  display: block;
  margin: auto;
  border: 8px solid black;
}
